

.bg-vegetarian {
    background-color: #c4f1b3;
    color: #047857;
  }
  
  .bg-meat {
    background-color: #f2d4ca;
    color: #c11b08;
  }
  
  .bg-seafood {
    background-color: #b3e8ff;
    color: #1e3a8a;
  }
  
  .bg-special {
    background-color: #e0d3ff;
    color: #4b0082;
  }
  