

.bg-vegetarian {
    background-color: #c4f1b3;
    color: #047857;
  }
  
  .bg-meat {
    background-color: #f2d4ca;
    color: #c11b08;
  }
  
  .bg-seafood {
    background-color: #b3e8ff;
    color: #1e3a8a;
  }
  
  .bg-special {
    background-color: #e0d3ff;
    color: #4b0082;
  }

  .bg-fries {
    background-color: #e0d3ff;
    color: #820080;
  }
  .bg-mix {
    background-color: #d3fcff;
    color: #00825be8;
  }
  .bg-thali {
    background-color: #a9c0c2;
    color: #820048bc;
  }
  