.about-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .about-image {
    border-radius: 50%;
  }
  
  .about-heading {
    color: #FFA500;
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
  }
  
  .about-paragraph {
    font-size: 24px;
  }
  